@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Roboto+Slab|Russo+One&display=swap');
#container{
    margin:0 auto;
    width:95%;
    text-align:center;
}
#selfPortrait{
    float:right;
    margin: 15px;
    border-radius:50%;
    max-width:20%;
}
#sec1{
    text-align:left;
    padding-bottom:25px;
    padding-left:2.5em;
}
#navLinks{
    font-size:20px;
    font-family:'Russo One', Gadget, sans-serif;
}
#footerLink:link{
    text-decoration:none;
    color:#fff;
    }
#sec1, header, footer{
    max-width:85%;
    margin: 0 auto;
    border-radius: 15px;
}
.lesson{
    color:#b30000;
}
.assignment:link{
    color:#000;
    text-decoration: none;
}
.assignment:hover, #footerLink:hover{
    text-decoration:underline;
}
header, footer{
    background-color:#000; 
}
h1,footer{
    color:#fff;
}
h1{
    font-size:3em;
    font-weight:bold;
    line-height:100px;
    margin-left:15%;
    font-family:'Permanent Marker', Charcoal, sans-serif;
}
h2{
    font-size:2.5em;
    font-weight:bold;
    font-family:'Permanent Marker', Charcoal, sans-serif;
    color:#b30000;
    border-bottom: 1px solid #b30000;
   max-width:80%;
}
body{
    background-color:#d3d3d3;
}
footer{
    font-size:1em;
    padding:5px;
    font-family:'Roboto Slab', Georgia, serif;
}
