/*GALLERY*/
    #gallery {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .gallery-container:hover{
        text-transform: uppercase;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .gallery-caption{
        padding:10px;
    }
    .zoom{
        transition: transform .2s;
    }
    .zoom:hover {
        -ms-transform: scale(1.1); /* IE 9 */
        -webkit-transform: scale(1.1); /* Safari 3-8 */
        transform: scale(1.1); 
        box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.75);
      }
    