@media only screen and (min-width: 60em){ 
body{
    background-color:#fff;
    background-image:url(/images/redox_01_@2X.png);
}
footer, main{
    margin-left:8rem;
    margin-right:8rem;
}
/*nav bar*/
#menu-bar, #hamburger, .bar, .change{
    display:none;
    }
.nav-links{
    display:flex;
    width:80%;
    margin:0 auto;
    }
.nav-links li{
    display:block;
    font-size:14px;
    flex: 1 1 100%;
    }
.nav-links li a.active {
    border:1px solid #e50000;
    }
.nav-links a:hover {
    border:1px solid #e50000;
    }
/*contact info*/
#contact-info{
    display:grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
/*caption on slideshow*/
.text-1{
    font-size: 1.8rem;
}
.text-2{
   font-size: 1.8rem;
}
/*town section*/
#cards{  
    grid-template-columns: repeat(3, 1fr);   
}
#cards .town-container{  
    display:block;
    
}
/*town image*/
.town-container img{
    width:100%;  
}
/*town-container effects*/
.town-container:hover{
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
}
/*news section layout*/
.news-container {
    grid-template-columns: repeat(4, 1fr);
}
/*picture container effects*/
.pic-container:hover{
    box-shadow: 1px 3px 5px 0px white;
    text-transform: uppercase;
    cursor:pointer;
}
}