@media only screen and (min-width: 60em){ 
body{
    background-color:#fff;
    background-image:url(/images/redox_01_@2X.png);
}
footer, main{
    margin-left:8rem;
    margin-right:8rem;
}
/*nav bar*/
#menu-bar, #hamburger, .bar, .change{
    display:none;
    }
.nav-links{
    display:flex;
    width:80%;
    margin:0 auto;
    }
.nav-links li{
    display:block;
    font-size:14px;
    flex: 1 1 100%;
    }
.nav-links li a.active {
    border:1px solid #e50000;
    }
.nav-links a:hover {
    border:1px solid #e50000;
    }
/*contact info*/
#contact-info{
    display:grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
/*town section*/
#cards{  
    grid-template-columns: repeat(3, 1fr);   
}
#cards .town-container{  
    display:block;
    
}
/*town image*/
.town-container img{
    width:100%;  
}
/*town-container effects*/
.town-container:hover{
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
}
/*news section layout*/
.news-container {
    grid-template-columns: repeat(4, 1fr);
}
/*picture container effects*/
.pic-container:hover{
    box-shadow: 1px 3px 5px 0px white;
    text-transform: uppercase;
    cursor:pointer;
}
/*STORM CENTER*/
/*form container*/
.form-container{
    width:800px;
}
/*form picture background*/
form .form-div{
    background:url("/images/tornado-1850.jpg");
    background-size: 100% 100%;  
}

.form-div:nth-of-type(2){
    background:url("/images/beach-802.jpg");
    background-size: 100% 100%;
}
/*Tickmark width*/
form input[type=range]{
    width:100%;
}
/*Range resizing of padding top and bottom*/
form label, form label.severity{
    padding-top:.8rem;
    padding-bottom:.7rem;
}
/*width of "are you in danger?" box*/
.danger{
    width:500px;
}
/*submit button hover effect*/
.submitBtn:hover{
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }
}