/* Media Query for medium + screens */
@media only screen and (min-width: 37.5em){
/*header text to appear next to icon horizontally*/
.header {
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.header .header-text {
    display: flex;  
    flex-flow: column nowrap;
    justify-content:center;
}
.shadow li a.active{
    box-shadow: none;
}
/*text-resizing*/
h2{
    font-size:25px;
}
h3{
    font-size:1.17em;
}
.weather-checker{
    font-size:20px;
    margin-bottom:15px;
}
#left-align{
    font-size:1.17em;
}
/*caption on slideshow*/
.text-1{
 top:1.5rem;
 font-size: 1.5rem;
 }
 .text-2{
bottom: 1.5rem;
font-size: 1.5rem;
 }

/*town section reverse order (alternating rows)*/
#cards .town-container {
    display: flex;
}
.town-container:nth-of-type(1) {
    order: 3;
}
.town-container:nth-child(2), .town-container:nth-child(1){
	flex-direction: row-reverse;
} 
.town-container img{
    width:50%;
}
/*news section layout*/
.news-container {
    grid-template-columns: repeat(2, 1fr);
}
/*map*/
.mapouter{
    display:block;
}
#contact-info{
display: grid;
grid-template-columns: 1fr;
margin-top:20px;
}
/*contact info*/
#contact{
    font-size:20px;
}
.social-media{
    width:52px;
}
#contact-info{
    display: grid;
    grid-template-columns: 1fr;
    margin-top:20px;
    }
/*contact info*/
    #contact{
        font-size:20px;
    }
    .social-media{
        width:52px;
    }
/*map section*/
    iframe{
        border: 0;
        height:352px;
        width:100%;
        overflow: hidden;
    }
    .mapouter{
        position:relative;
        text-align:right;
        height:352px;
        width:100%;}
    .gmap_canvas {
        overflow:hidden;
        background:none!important;
        height:352px;
        width:100%;
    }
/*wireframes*/
.wireframes ul{
    padding:0;
    list-style: none;
    display:flex;
}
}