/* Media Query for medium + screens */
@media only screen and (min-width: 37.5em){
#menu-bar, #hamburger, .bar, .change{
    display:none;
}
/*header text to appear next to icon horizontally*/
.header {
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.header .header-text {
    display: flex;  
    flex-flow: column nowrap;
    justify-content:center;
}
/*navigation bar*/
/*navigation bar to span*/
.nav-links{
    display:flex;
}
.nav-links li{
    display:block;
    flex: 1 1 100%;
}
.nav-links li a.active {
    border:1px solid #e50000;
}
.nav-links a:hover {
    border:1px solid #e50000;
}
/*navigation bar to resize text size*/
.nav-links li a{
    font-size:12px;
}
.shadow li a.active{
    box-shadow: none;
}
/*text-resizing*/
h2{
    font-size:25px;
}
h3{
    font-size:1.17em;
}
h4{
    font-size:20px;
    margin-bottom:15px;
}
#left-align{
    font-size:1.17em;
}
/*gallery section*/
#gallery {
    grid-template-columns: 1fr 1fr;
}
/*map*/
.mapouter{
    display:block;
}
#contact-info{
display: grid;
grid-template-columns: 1fr;
margin-top:20px;
}
/*contact info*/
#contact{
    font-size:20px;
}
.social-media{
    width:52px;
}
#contact-info{
    display: grid;
    grid-template-columns: 1fr;
    margin-top:20px;
    }
    /*contact info*/
    #contact{
        font-size:20px;
    }
    .social-media{
        width:52px;
    }
    /*map section*/
    iframe{
        border: 0;
        height:352px;
        width:100%;
        overflow: hidden;
    }
    .mapouter{
        position:relative;
        text-align:right;
        height:352px;
        width:100%;}
    .gmap_canvas {
        overflow:hidden;
        background:none!important;
        height:352px;
        width:100%;
    }
}