/*phone or baseline view*/
@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed|Montserrat|Righteous&display=swap');
/*prevents adjustments of font size after orientation changes in IE on Windows Phone or IOS*/
html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
}
* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight:400;
}    
/*header*/
.main-header {
    font-family: 'Righteous', Georgia, 'Times New Roman', Times, serif;
    color: #e50000;
    background-color: #fafafa;
    cursor: pointer;
    font-size:1em;
    overflow:auto;
    padding:15px;
}
.subheading {
    font-family: 'Barlow Condensed', Arial, Helvetica, sans-serif;
    color: #1569C7;
    font-weight: bolder;
}
header,
footer {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;    
}
header,
.nav-links,
footer {
    text-align: center;
    color: #fafafa;
}

/*hamburger menu with transition to x icon*/
#hamburger{
    background-color:#e50000;
    width: 35px;
    height:30px;
    margin:30px 0 20px 20px;
    cursor:pointer;
}
.bar{
    height:5px;
    width:100%;
    background-color:#fafafa;
    display:block;
    border-radius:5px;
    transition:0.3s ease-in-out;
}
#bar1{
    transform:translateY(-4px);
}
#bar3{
    transform:translateY(4px);
}
/*navigation bar*/
nav{
    background-color:#e50000;
    max-width: 100%;
}
.nav-links li a{
    color: #fafafa;
    text-decoration:none;
    text-align: center;
    border:none;
    font-size:1em;  
}
.nav-links a:hover {
    background-color: #fafafa;
    color: #e50000;
    font-weight:bold;
}
.nav-links li{
    overflow:hidden;
}
.nav-links{
    padding:0;
    list-style: none;
    display:none;
}
.nav-links a{
    display:block;
    padding: 0.8rem;
    text-transform: uppercase;
}
.nav-links li a.active {
    background-color: #fafafa;
    color: #e50000;
    font-weight:bold;
   /* border-top: 1px solid #d3d3d3;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}
.shadow li a.active{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/*After clicking for the X icon to appear*/
.change #bar1{
    transform: translateY(4px) rotateZ(-45deg);
}
.change #bar3{
    transform: translateY(-6px) rotateZ(45deg);
}
.change #bar2{
    opacity:0;
}
.change{
    display:block;
}
#menu-bar{
    border-bottom:1px solid #e50000;
    border-top:2px solid #e50000;
    background-color:#e50000;
}
/*pancake*/
#pancake{
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(229,0,0,1)), color-stop(100%, rgba(0,128,128,1)));
    color:#fafafa;
    font-size:1em;
    text-align:center;
}
/*links*/
a:link{
    color:#fafafa;
}
a:visited{
    color:#0e000e;
}
/*content*/
main{
    background-color:#fafafa;
    display: flex;
    flex-flow: column nowrap;
}
h2{
    padding-top:1em;;
    text-align:center;
    color:#e50000;
    font-size:24px;
    margin-bottom:1em;
    font-weight:bolder;
    font-family:'Barlow Condensed', Arial, Helvetica, sans-serif; 
}
 .weather-checker, h4{
    font-size:15px;
    font-family:'Barlow Condensed', Arial, Helvetica, sans-serif; 
}
.weather-checker{
    margin-top:15px;
}
.content{   
    color:#e50000;
    padding:15px;
    font-size:20px;
    } 
/*town-section*/
.featured-towns{
    padding-top:0;
}

/*town container section*/
    .town-container, town-info{      
        box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.75);
    }
/*town info section*/
    .town-info{
        background-color:white;
        padding:.3rem;
    }

    .town-info p{
        margin-bottom:.3rem;
    }
    .town-paragraph{
        margin-bottom:.5rem;
        color:#0e000e;
        font-size:1rem;
    }

    .town-heading{
        color:#0e000e;
        font-size:1.2rem;
        font-family: 'Righteous', Georgia, 'Times New Roman', Times, serif;
        padding-top:.5rem;
        padding-bottom:.2rem;
    }
    .town-subheading{
        color:#e50000;
        font-size:.8rem;
        font-style: italic;
        margin-bottom:.9rem;
        font-weight:bolder;
    }  
    #cards{
        display:grid;
        text-align:center; 
        grid-column-gap:1rem;
        grid-row-gap:1rem;
    }
    .town-container{
        width:100%;  
       
    }  
    #cards .town-container{
        padding: 0;
    }
    .town-container img{
        margin: 0 auto;
        width:100%;
        height:auto;
        display: block; 
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);     
    }
    .town-info{
        width:100%;
    }  
    .town-section{
        padding:15px;
        background-color:#fafafa;
    }
    .banner-div img{
        width:100%;     
    }
/*slideshow container */
.banner-wrapper {
    position: relative;
    margin: auto;   
}
/*next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -1.5rem;
    color: white;
    font-weight: bold;
    font-size: 2rem;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  .prev{
      left:0;
  }
/*position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
/*add black background on hover*/
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  .banner-div:hover{
      cursor:pointer;
  }
/*slideshow captions*/
.text-1, .text-2{
    color: white;
    font-size: 1rem;
    padding: 8px 12px;
    position: absolute;
    width: 100%;
  }
 .text-1{
   background-color:#0e000e;
   opacity: 0.8;
    top:.5rem;
    text-align:center;
}
.text-2{
    bottom:.5rem;
    text-align: left;
    background-color:#e50000;
    opacity:0.8;
}
/*images fading when it automatically slides and when buttons clicked*/
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
/*news-section*/
.news-section{
    background-color:#e50000;
}
.news-section h2{
    color:#fafafa;
}
/*news display grid*/
.news-container {
    display: grid;  
    grid-template-columns: auto;
    grid-gap:20px;
    justify-content: center;
    align-items: center;
    padding:0px 20px 20px 20px; 
}
/*news pictures section*/
.pic-container{
    text-align: center;
}
.news{
width: 100%;
display:block;
}
/*news caption*/
.caption{
    color:#0e000e;
    padding:5px;
    background-color:#d3d3d3;
}
/*map*/
.mapouter{
    display:none;
}
/*contact info section*/
#contact{
    background-color:#d3d3d3;
    color: #e50000;
    font-size:1em;
    padding:20px;
}
/*contact info text*/
#contact-heading{
    margin-bottom:10px;
}
.contact-text{
    background-color: #fafafa;
    color:#e50000;
    padding:15px;
}
/*contact icons and paragraphs*/
.contact-section{
    align-items: center;
    margin-bottom:10px;
    height:100%;
}
/*text-resizing*/
h3{
    font-size:1.1em;
    text-align:center;
    font-family:'Barlow Condensed', Arial, Helvetica, sans-serif; 
}
/*order*/
.town-container:nth-of-type(1) {
    order: 3;
}
/*wireframes*/
.wireframes{
    font-size:1rem;
}
.wireframes ul a{
background-color:#8b8b8b;
color:black;
text-decoration:none;
text-align: center;
border:none;
}
.wireframes ul p{
    border:none;
    text-align: center;
    
}
.wireframes li{
    overflow:hidden;
    display:block;
    flex: 1 1 100%;
}

.wireframes a, .wireframes p{
    display:block;
    padding: 0.75rem;
    border:1px solid black;
}
/*ul li p customization*/
.wireframes p{
    background-color:#fafafa;
    color:#e50000;
    font-family: 'Righteous', Georgia, 'Times New Roman', Times, serif;;
}
/*hovering over wireframe options*/
.wireframes ul a:hover{
     opacity: 0.75; 
     font-style: italic;
     color:white;
}
/*map*/
.mapouter{
    display:none;
}
/*contact info section*/
#contact{
    background-color: #d3d3d3;
    color: #e50000;
    font-size:1em;
    padding:20px;
}
/*contact info text*/
#contact-heading{
    margin-bottom:10px;
}
.contact-text{
    background-color: #fafafa;
    color:#e50000;
    padding:15px;
}
/*contact icons and paragraphs*/
.contact-section{
    align-items: center;
    margin-bottom:10px;
    height:100%;
}
/*text-resizing*/
h3{
    font-size:1.1em;
    text-align:center;
    font-family:'Barlow Condensed', Arial, Helvetica, sans-serif; 
}
.contact-icon{   
    width:30px;
    height:auto;
    vertical-align: middle;
}
.social-media{
    width:30px;
}
/*footer*/
footer {
    background-color: #e50000;
    padding: 20px;
    font-family: 'Montserrat', Arial, sans-serif;
    font-size:15px;
}



/*Forms*/
.homepage-form{
    padding: 5rem;
    background: url(/lesson-11/images/satellite-weather.jpg);
    background-size: 100% 100%;
    color: white;
    background-color: black;
}
.homepage-form img{
    width:100%;
    height:100%;
 }
/*Form Labels and Form Div*/
.homepage-form label.homePage .homepage-form div{
    display:block;
    padding-top:1rem;
    font-size:.8rem;
}
.homepage-form label.homePage input, .homepage-form label.homePage  select{
    display:block;
    font-size:1rem;
    border:solid 1px #999;
    padding:.75rem;
    width:50%;
    color:#555;
    opacity:1;
}
/*placeholder*/
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:#555;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:#555;;
    opacity: 1; /* Firefox */
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color:#555;
    opacity: 1; /* Firefox */
  }
/*When user clicks input field*/
.homepage-form input[type=text]:focus{
    border-color:red;
}
.homepage-form label.homePage  input:focus, .homepage-form label.homePage  select:focus{
    color:#0e000e;
}
/*submit button when clicked on homepage*/
#click{
    background-color: #e50000;
    color:white;
    padding:.2rem;
    border:none;
  }
#click:focus{
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-1px);
  }
.flex{
    display:flex;
    justify-content: center;
}
.highlight{
        background: yellow;
      }




