@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed|Montserrat|Righteous&display=swap');

/*phone or baseline view*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
#container{
    width:100%;
    height:100%;
}
main {
	display: grid;
	grid-template-columns: 1fr;
}
body{
    background-color:#fafafa;
    font-family: 'Montserrat', Arial, sans-serif;
    font-size:1rem;
    min-height: 285px;
}
.main-header{
    font-family:'Righteous', Georgia, 'Times New Roman', Times, serif;
    color:#e50000;
    background-color:#fafafa;
    cursor: pointer;
}
.subheading{
    font-family:'Barlow Condensed',Arial, Helvetica, sans-serif;
    color:/*#3090C7; #357EC7;*/#1569C7;
    font-weight:bolder;
}
header, footer{
    display:flex;
	flex-flow:column;
	align-items:center;
    justify-content:center;
}
header, .nav-links,
footer{
    text-align:center;
    color:#fafafa;
}
footer{
    background-color:#e50000;
    padding:20px;

}
h2, h3 .nav-links{
    font-family:'Barlow Condensed',Arial, Helvetica, sans-serif;
    color:#e50000;
}
.nav-links{
    background-color:#e50000;
    list-style:none;
	overflow: hidden;
}
.nav-links li a{
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 0.75rem;
    line-height: 5px;
    color:#fafafa;
    /*font-weight:bolder;*/
}
nav a:hover {
	background-color: #fafafa;
	color: #e50000;
}
.nav-links li a.active{
    background-color:#fafafa;  
    color:#e50000;
    border-top:1px solid #d3d3d3;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
section{
    padding:20px;
    border: 2px solid #e50000;
    margin: 0.5rem;
    border-radius:15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
h2{
border-bottom:4px solid #e50000;
width:95%;
}


