@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed|Montserrat|Righteous&display=swap');
/*phone or baseline view*/
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

main {
    display: grid;
    grid-template-columns: 1fr;
}

body {
    background-color: #fafafa;
    font-family: 'Montserrat', Arial, sans-serif;
    font-size:1rem;
    color:#0e000e;
}

.main-header {
    font-family: 'Righteous', Georgia, 'Times New Roman', Times, serif;
    color: #e50000;
    background-color: #fafafa;
    cursor: pointer;
    font-size:20px;
}

.subheading {
    font-family: 'Barlow Condensed', Arial, Helvetica, sans-serif;
    color: #1569C7;
    font-weight: bolder;
}

header,
footer {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;    
}
header,
.nav-links,
footer {
    text-align: center;
    color: #fafafa;
}

footer {
    background-color: #e50000;
    padding: 20px;
    font-family: 'Montserrat', Arial, sans-serif;
    font-size:15px;
}

h2{
    font-family: 'Barlow Condensed', Arial, Helvetica, sans-serif;
    color: #e50000;
}

.nav-links {
    background-color: #e50000;
    list-style: none;
    overflow: hidden;
    font-size:20px;
}

.nav-links li a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.75rem;
    line-height: 5px;
    color: #fafafa;
}

nav a:hover {
    background-color: #fafafa;
    color: #e50000;
}

.nav-links li a.active {
    background-color: #fafafa;
    color: #e50000;
    border-top: 1px solid #d3d3d3;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

section {
    padding: 20px;
    border: 2px solid #e50000;
    margin: 0.5rem;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h2 {
    border-bottom: 4px solid #e50000;
    width: 95%;
}

/*Target Audience*/
.red-section {
    background-color: #e50000;
    color:#fafafa;
    border:2px solid #fafafa;
}
.red-section table {
    background-color: #e50000;
}
.red-section ul{
    word-wrap: break-word;
    margin-left:20%;
    margin-top:15px;
}
p{
    padding:15px;
}
.red-section .divider {
    color: #fafafa;
    border-bottom: 4px solid #fafafa;
    width:95%;
}
.float-left {
    float:none;
    clear:both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border:3px solid #fafafa;
    border-radius:15px;
    max-width:50%;
}

/*Table*/
.table-main{
    padding:25px;
    overflow-x: auto;
}
.table-main .divider{
    font-size:20px;
}
#table{
    border: solid 1px #000;
    border-collapse: collapse;
    width:100%;
}
main table {
    margin-top:15px;
    border: solid 1px #fafafa;
    border-collapse: collapse;
    border-spacing:0;
    width:100%;
    overflow-x: auto;
    font-size: 12px;
}

main table td,
main table th {
    border: solid 1px #ededed;
    padding:5px;
    font-size: 12px;
}

main table th {
    background-color: #e50000;
    color: #feffff;
}
td{
    width:15px;
}

.white-text{
    background-color:#d3d3d3;
    color:#fafafa;
}
.red-text{
    background-color:#fafafa;
    color:#e50000
}
.Barlow{
    background-color:#fafafa;
    font-family:'Barlow';
    color:#e50000;
}
.White-Barlow{
    font-size:20px;
    background-color:#d3d3d3;
    font-family:'Barlow';
    color:#fafafa;
}
.Fifteen-Montserrat{
    font-size:15px;
    background-color:#d3d3d3;
    color:#fafafa;
    font-family:'Montserrat';
}
.Em-Barlow{
    font-size:1em;
    font-family:'Barlow';
    background-color:#fafafa;
    color:#e50000;
}
.black-text{
    background-color:#d3d3d3;
    color:#0e000e;
}
.Em-Montserrat{
    font-size:1em;
    background-color:#d3d3d3;
    color:#0e000e;
}
/*Color Scheme*/
#color-scheme{
    width:250px;
    margin-top:15px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: auto;
}
