@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed|Montserrat|Righteous&display=swap');

/*phone or baseline view*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
#container{
    width:100%;
    min-height:100%;
}
main {
	display: grid;
	grid-template-columns: 1fr;
}

