/* Media Query for medium + screens */
@media only screen and (min-width: 37.5em){

/*header text to appear next to icon horizontally*/
.header {
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.header .header-text {
    display: flex;  
    flex-flow: column nowrap;
    justify-content:center;
}
/*text-resizing*/
h2{
    font-size:25px;
}
h3{
    font-size:1.17em;
}
h4{
    font-size:20px;
    margin-bottom:15px;
}
#left-align{
    font-size:1.17em;
}
.article-paragraph{
    font-size:20px;
}
/*main*/
main{
    background-color:#fafafa;
}

/*weather summary*/
#hero-div{
    background-color: #d3d3d3;
    }
.weather-summary{
    opacity:0.8;
    font-size:1em;
    top: 20px;
    left: 10px;
}
#resize{
    font-size:1.5em;
}    
/*5 day forecast*/
.forecast-container{
    color:#fafafa;
    display: grid;
    justify-content: center;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: .2em;
    width: 60%;
}
.day, .weather-icon, .temperature {
    padding:.1em;
    display: grid;
    justify-content: center;
    box-sizing: border-box;
    border: 1px solid #d3d3d3;
    align-items: center;
    background-color: #e50000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#forecast-div{
    background-color:#d3d3d3;
    display:block;
}
/*map*/
.mapouter{
    display:block;
}
/*article layout*/
.moose{
    float:right;
    width:400px;
    margin:15px;
}
#article{
    display: block;
}
#contact-info{
display: grid;
grid-template-columns: 1fr;
margin-top:20px;
height:352px;
}
/*contact info*/
#contact{
    font-size:20px;
}
.social-media{
    width:52px;
}
/*map section*/
iframe{
    border: 0;
    height:352px;
    width:100%;
    overflow: hidden;
}
.mapouter{
    position:relative;
    text-align:right;
    height:352px;
    width:100%;}
.gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:352px;
    width:100%;
}
}