@media only screen and (min-width: 60em){ 
body{
    background-color:#fff;
    background-image:url(/images/vintage-concrete.png);
}
footer, main{
    margin-left:5rem;
    margin-right:5rem;
}
.nav-links li a{
    font-size:15px;
}
#contact-info{
    display:grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    }
.day, .weather-icon, .temperature {
        padding:15px;
}
}