
h1{
    text-align:center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#00203FFF;
}
picture img{
    display: block;
    margin: 0 auto;
    padding: 5px;
    filter: blur(0em);
   transition: filter 0.5s;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
picture img[data-src] {
    filter: blur(0.1em);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
