@media only screen and (min-width: 60em){ 
/*main*/
h3{
    font-size: 1.3rem;
}
/*NAV BAR*/
.mobile-logo{
    display:none;
}
.menu{
    display:none;
}
.pc-logo{
    width:200px;
    display:block;
    background-color:#660066;
    border:2px solid white;
    position:relative;
    left: 2rem;
    padding:.3rem;
    box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.75);
}
.nav-links, .nav-links.change{
display: flex;
justify-content: flex-end;
margin-top: -9.6rem;
}
.nav-links li a{
    padding: 1.5rem;
}
.subpages{
    visibility: hidden;
    position:absolute;
}
.subpages li a{
    width:8.8rem;
}
#hover:hover .subpages{
    visibility: visible;
    opacity: 1;
    display: block;
  }
  .pic-container:hover{
    transform: scale(1.1); 
  }
/*CALL TO ACTION*/
.button-wrapper button{
    max-width: 20rem;
    font-size:1rem;
}
/*TEMPLES*/
.slider {
    grid-template-columns: repeat(4, 1fr);
    margin: 0;
  }
  .caption{
      font-size:1rem;
  }
/*Featured Temples*/
.right{
    width: 42%;
}
/*TEMPLE PAGE*/
#cards1, #cards2, #cards3, #cards4{
    grid-template-columns:repeat(2, 1fr);
  }  
.info-div{
      margin-top:.4rem;
  }
.info-div label{
    font-size: 20px;
}
/*RESERVATION AND FORMS*/
form{
width:800px;
max-width: 800px;
  }
 /*submit button hover effect*/
 .submitBtn:hover, #cta:hover{
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
 }
 /*CONTACT PAGE*/
 .contain{
     grid-template-columns: repeat(2, 1fr);
     padding:3rem;
 }
 #map{
    width:600px;
    max-width: 600px;
    height: 500px;
    max-height:500px;
    margin-top: 2rem;;
  }
  .contact-form{
      width:500px;
      max-width:500px;
  }
  .contact-det{
      font-size: 1.3rem;
  }
}