@media only screen and (min-width: 60em){ 
body{
    background-color:#fff;
    background-image:url(/images/redox_01_@2X.png);
}
footer, main{
    margin-left:8rem;
    margin-right:8rem;
}
#menu-bar, #hamburger, .bar, .change{
    display:none;
}
.nav-links{
    display:flex;
    width:80%;
    margin:0 auto;
    }
.nav-links li{
    display:block;
    flex: 1 1 100%;
    font-size:14px;
    }
.nav-links li a.active {
    border:1px solid #e50000;
    }
.nav-links a:hover {
    border:1px solid #e50000;
    }
#contact-info{
    display:grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    }
}