/* Media Query for medium + screens */
@media only screen and (min-width: 37.5em){

/*header text to appear next to icon horizontally*/
.header {
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.header .header-text {
    display: flex;  
    flex-flow: column nowrap;
    justify-content:center;
}
#logo{
    width:auto;
}
#head{
    font-size:2em;
}

/*text-resizing*/
h2{
    font-size:25px;
}
h3{
    font-size:1.17em;
}
h4{
    font-size:20px;
    margin-bottom:15px;
}
#left-align{
    text-align:left;
    font-size:1.17em;
}
.article-paragraph{
    font-size:20px;
}
/*main*/
main{
    background-color:#fafafa;
}
/*weather summary*/
#hero-div{
    background-color: #fafafa;
    }
.weather-summary{
    opacity:0.8;
    font-size:1em;
    top: 20px;
    left: 10px;
}
#resize{
    font-size:1.5em;
}    
/*5 day forecast*/
.forecast-container{
    color:#fafafa;
    display: grid;
    justify-content: center;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: .2em;
    width: 60%;
}
.day, .weather-icon, .temperature {
    padding:.1em;
    display: grid;
    justify-content: center;
    box-sizing: border-box;
    border: 1px solid #d3d3d3;
    align-items: center;
    background-color: #e50000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#forecast-div{
    background-color:#fafafa;
    display:block;
}
/*event section*/
.event-section{
    font-size:20px;
}
.town-container{
    display:flex;
}
.event-section img{
    width:50%;
}
.event-paragraph{
    text-align:left;
}
/*event photos*/
.small-photo{
    display:none;
}
.big-photo{
    display:block;
}
/*map*/
.mapouter{
    display:block;
}
/*article layout*/
.moose{
    float:right;
    width:400px;
    margin:15px;
}
#article{
    display: block;
}
#contact-info{
display: grid;
grid-template-columns: 1fr;
margin-top:20px;
}
/*contact info*/
#contact{
    font-size:20px;
}
.social-media{
    width:52px;
}
/*map*/
.mapouter{
    display:block;
}
#contact-info{
display: grid;
grid-template-columns: 1fr;
margin-top:20px;
}
/*contact info*/
#contact{
    font-size:20px;
}
.social-media{
    width:52px;
}
#contact-info{
    display: grid;
    grid-template-columns: 1fr;
    margin-top:20px;
    }
/*contact info*/
    #contact{
        font-size:20px;
    }
    .social-media{
        width:52px;
    }
/*map section*/
    iframe{
        border: 0;
        height:352px;
        width:100%;
        overflow: hidden;
    }
    .mapouter{
        position:relative;
        text-align:right;
        height:352px;
        width:100%;}
    .gmap_canvas {
        overflow:hidden;
        background:none!important;
        height:352px;
        width:100%;
    }
    /*HOMEPAGE*/
/*homepage town section reverse order (alternating rows)*/
#cards .home-container {
    display: flex;
}
.home-container:nth-of-type(1) {
    order: 3;
}
.home-container:nth-child(2), .home-container:nth-child(1){
    flex-direction: row-reverse;
} 
.home-container img{
    width:50%;
}
.homepage-form label.homePage input, .homepage-form label.homePage  select{
    width:50%;
}
/*news section layout*/
.news-container {
    grid-template-columns: repeat(2, 1fr);
} 
/*STORM CENTER*/
 /*form-div*/
    .form-container{
        width:600px;
        margin:0 auto;
    }
     .form-div:nth-of-type(2){
        background:url(/lesson-11/images/beach-740.jpg);
        background-size: 100% 100%;
    }
    /*width of "are you in danger?" box*/
    .danger{
        width:400px;
    }     
    /*GALLERY*/
#gallery {
    grid-template-columns: 1fr 1fr;
}    
}